<hr />
<h2 class="text-center">SÁCH BÁN NHIỀU</h2>


<div class="col-6">
    <div class="row">

        <div class="col-2">
            <img src="https://erepublic.brightspotcdn.com/dims4/default/036adcc/2147483647/strip/false/crop/1510x1050+0+0/resize/1486x1033!/quality/90/?url=http%3A%2F%2Ferepublic-brightspot.s3.amazonaws.com%2Faf%2F0b%2F2498a3ce4f41b6cf8b9f49420017%2Fbanned-books.jpg" class="img-thumbnail"  height=100 width=100 />
        </div>
        <div class="col-9">
            <div class="caption">
                <h6>Người Bán Hàng Có Kinh Nghiệm</h6>
                <p>Chọn Sách Trau Dồi Kỹ Năng</p>
            </div>
        </div>

        <div class="col-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3fKNb_tZ305blEqFlYVQPbsjJxY3RWQYLJaiO6ZLkWsDtxbQ1qmyLXiBmHk6s7pffSyI&usqp=CAU" class="img-thumbnail"  height=100 width=100 />
        </div>
        <div class=" col-9">
            <div class="caption">
                <h6>Sách Giúp Cải Thiện Kỹ Năng Giao Tiếp</h6>
                <p>Năng lực giao tiếp hay khả năng nói chuyện luôn là món vũ khí quan trọng của các nhà bán hàng</p>
            </div>
        </div>

        <div class="col-2">
            <img src="https://npr.brightspotcdn.com/dims4/default/d3b617b/2147483647/strip/true/crop/3516x2637+0+0/resize/880x660!/quality/90/?url=https%3A%2F%2Fmedia.npr.org%2Fassets%2Fimg%2F2023%2F05%2F12%2Fap22190839242784-548996594a2193ca4b998caacd4512bda91e0938.jpg" class="img-thumbnail"  height=100 width=100 />
        </div>
        <div class=" col-9">
            <div class="caption">
                <h6>Người Bán Hàng Vĩ Đại Nhất Thế Giới</h6>
                <p>Những Kỹ Năng Được Giới Thiệu Khéo Léo Trong Câu Chuyện</p>
            </div>
        </div>

    </div>
</div>


<div class="col-6">
    <div class="row">

        <div class="col-2">
            <img src="https://www.onceuponabookclub.com/cdn/shop/files/readergifts_1800x.jpg?v=1680035345" class="img-thumbnail"  height=100 width=100 />
        </div>
        <div class=" col-9">
            <div class="caption">
                <h6>Tỷ Phú Bán Giày</h6>
                <p>Ý Nghĩa Của Khởi Nghiệp Dựa Trên Hạnh Phúc</p>
            </div>
        </div>

        <div class="col-2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNnQu_41-lMk53pLX13DLhXpxoSSnH9_YzcbAoFi2GpRTrfuG_F88vmxd_ecE6g317AW8&usqp=CAU" class="img-thumbnail"  height=100 width=100 />
        </div>
        <div class=" col-9">
            <div class="caption">
                <h6>Sức Mạnh Của Ngôn Từ</h6>
                <p> Cách để gaio tiếp với từng đối tượng cụ thể, hỗ trợ bạn đạt hiệu quả giao tiếp tốt nhất</p>
            </div>
        </div>

        <div class="col-2">
            <img src="https://cdn.cheapoguides.com/wp-content/uploads/sites/2/2016/02/book-shop_pdiamondp_iStock-848093084-770x516.jpg" class="img-thumbnail"  height=100 width=100 />
        </div>
        <div class=" col-9">
            <div class="caption">
                <h6>Tốc độ của niềm tin</h6>
                <p>xây dựng thương hiệu doanh nghiệp, tạo niềm tin trong khách hàng và các nhà đầu tư</p>
            </div>
        </div>

    </div>
</div>

